body, .flex-container {
  background: #000;
  color: #ccc;
  font-family: "Kelly Slab", sans-serif;
}

.header-bg {
  width: 100%;
  background: #0d0d0d;
}

h1 {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.dungeon {
  border: 5px solid rgba(0, 0, 0, 0.2);
}

.cell {
  height: 0.9em;
  width: 0.9em;
  background: #332000;
  border: 2px solid #291a00;
}

.floor {
  background: #ccc;
  border: 2px solid #cecece;
}

.enemy {
  background: #a00;
  border: 2px solid #9b0000;
}

.weapon {
  background: #ff1;
  border: 2px solid #ffff1b;
}

.player {
  background: #0bb;
  border: 2px double #55ffff;
}

.potion {
  background: #a0c;
  border: 2px solid #b700db;
}

.exit {
  background: #0d0;
  border: 2px solid #00e700;
}

.boss {
  background: #f00;
  border: 2px solid #ff0a0a;
}
