body, .flex-container {
  background: #000;
  color: #ccc;
  font-family: "Kelly Slab", sans-serif;
  overflow: hidden;
}

.header-bg {
  width: 100%;
}

h1, .settings-item {
  text-align: center;
  white-space: nowrap;
}

.row {
  display: flex;
  justify-content: center;
}

.dungeon {
  border: 1em solid rgba(0, 0, 0, 0.2);
  cursor: crosshair;
}

.cell {
  height: 1em;
  width: 1em;
  min-width: 1em;
  border: 2px solid #000;
}

.icon {
  border: 2px solid #4d4d4d;
}

.bg-1, .bg-transit-1 {
  background: #332000;
}

.bg-2, .bg-transit-2 {
  background: #003320;
}

.bg-3, .bg-transit-3 {
  background: #002044;
}

.bg-4, .bg-transit-4 {
  background: #550020;
}

.bg-header-1 {
  background: #0f0a00;
}

.bg-header-2 {
  background: #001a10;
}

.bg-header-3 {
  background: #00142b;
}

.bg-header-4 {
  background: #310013;
}

.bg-header, .bg-transit-1, .bg-transit-2, .bg-transit-3, .bg-transit-4 {
  transition: background 2.5s;
}

.bg-death {
  background: #200;
  animation: animate-death 3s ease-in 0s 1;
}

@keyframes animate-death {
  0% {
    background: #c00;
  }
  3% {
    background: #000;
  }
  8% {
    background: #900;
  }
  9% {
    background: #000;
  }
  11% {
    background: #a00;
  }
  12% {
    background: #000;
  }
  13% {
    background: #800;
  }
  100% {
    background: #200;
  }
}
.bg-victory {
  animation: animate-victory 1s linear infinite;
}

@keyframes animate-victory {
  0% {
    background: #fff;
  }
  20% {
    background: #f0f;
  }
  40% {
    background: #0ff;
  }
  60% {
    background: #0f0;
  }
  80% {
    background: #ff0;
  }
  100% {
    background: #fff;
  }
}
.floor {
  background: #ccc;
  border: 2px solid #cecece;
}

.enemy {
  background: #a00;
  border: 2px solid #9b0000;
}

.weapon {
  background: #ff1;
  border: 2px solid #ffffaa;
}

.player {
  background: #0ab;
  border: 2px double #22ebff;
}

.potion {
  background: #a0c;
  border: 2px solid #b700db;
}

.exit {
  background: #0d0;
  border: 2px solid #11ff11;
}

.boss {
  background: #f00;
  border: 2px solid white;
}

.settings {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.settings-item {
  margin: 0 10%;
  background: #080808;
  border-radius: 8px;
  padding: 5px 9px;
  box-shadow: 0 0 10px #666666, 0 -5px 15px #333333;
  cursor: pointer;
  transition: color 0.2s, background 0.5s;
}

.settings-item:hover {
  color: #fff;
  background: #141414;
}
.settings-item:hover input, .settings-item:hover label {
  cursor: pointer;
}

.stats {
  min-width: 14em;
}

.stats-item {
  display: inline-block;
  vertical-align: top;
  width: 33.333%;
  text-align: center;
}
.stats-item .icon {
  margin: 0.1em auto;
}

input {
  position: absolute;
  opacity: 0;
}

label::before {
  display: inline-block;
  content: "";
  height: 0.8em;
  width: 0.8em;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin: 3px 7px -2px 0px;
  transition: background 0.2s;
}

input:checked + label::before {
  background: #999999;
  box-shadow: 0 0 5px #b3b3b3;
}

ul {
  font-size: 1.2em;
  text-align: center;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 2px;
}

.msg-0 {
  color: #fff;
  animation: msg-in 0.3s cubic-bezier(0.47, 0, 0.74, 0.71) both;
}

.msg-1 {
  color: #b3b3b3;
}

.msg-2 {
  color: #999999;
}

.msg-3 {
  color: #666666;
}

@keyframes msg-in {
  0% {
    transform: scaleX(1.1);
    filter: blur(2px);
    opacity: 0.3;
  }
  100% {
    transform: scaleX(1);
    filter: blur(0);
    opacity: 1;
  }
}
