body, .flex-container {
  background: #000;
  color: #ccc;
  font-family: "Kelly Slab", sans-serif;
  overflow: hidden;
}

.header-bg {
  width: 100%;
  background: #0d0d0d;
}

h1, .settings-item {
  text-align: center;
  white-space: nowrap;
}

.row {
  display: flex;
  justify-content: center;
}

.dungeon {
  border: 5px solid rgba(0, 0, 0, 0.2);
}

.cell {
  height: 1em;
  width: 1em;
  min-width: 1em;
  background: #332000;
  border: 2px solid #291a00;
}

.floor {
  background: #ccc;
  border: 2px solid #cecece;
}

.enemy {
  background: #a00;
  border: 2px solid #9b0000;
}

.weapon {
  background: #ff1;
  border: 2px solid #ffff1b;
}

.player {
  background: #0bb;
  border: 2px double #55ffff;
}

.potion {
  background: #a0c;
  border: 2px solid #b700db;
}

.exit {
  background: #0d0;
  border: 2px solid #00e700;
}

.boss {
  background: #f00;
  border: 2px solid #ff0a0a;
}

.settings, .stats {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.settings-item {
  margin: 0 10%;
  background: #080808;
  border-radius: 8px;
  padding: 5px 9px;
  box-shadow: 0 0 10px #666666, 0 -5px 15px #333333;
  cursor: pointer;
  transition: color 0.2s, background 0.5s;
}

.settings-item:hover {
  color: #fff;
  background: #141414;
}
.settings-item:hover input, .settings-item:hover label {
  cursor: pointer;
}

.stats-item {
  margin: 0 3%;
  text-align: center;
}
.stats-item .icon {
  margin: 2px auto;
}

input {
  position: absolute;
  opacity: 0;
}

label::before {
  display: inline-block;
  content: "";
  height: 0.8em;
  width: 0.8em;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin: 3px 7px -2px 0px;
  transition: background 0.2s;
}

input:checked + label::before {
  background: #ccc;
}

ul {
  font-size: 1.2em;
  text-align: center;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 2px;
}

.msg-0 {
  color: #fff;
  animation: msg-in 0.3s cubic-bezier(0.47, 0, 0.74, 0.71) both;
}

.msg-1 {
  color: #bfbfbf;
}

.msg-2 {
  color: #999999;
}

.msg-3 {
  color: #737373;
}

@keyframes msg-in {
  0% {
    transform: scaleX(1.1);
    filter: blur(2px);
    opacity: 0.3;
  }
  100% {
    transform: scaleX(1);
    filter: blur(0);
    opacity: 1;
  }
}
