$bg-color: #000
$cell: #332000
$floor: #ccc
$enemy: #a00
$weapon: #ff1
$potion: #a0c
$player: #0bb
$exit: #0d0
$boss: #f00

body, .flex-container
  background: $bg-color
  color: $floor
  font-family: 'Kelly Slab', sans-serif

.header-bg
  width: 100%
  background: lighten($bg-color, 5%)

h1
  text-align: center

.row
  display: flex
  justify-content: center

.dungeon
  border: 5px solid rgba(0,0,0,0.2)

.cell
  height: .9em
  width: .9em
  background: $cell
  border: 2px solid darken($cell, 2%)

.floor
  background: $floor
  border: 2px solid lighten($floor, .8%)

.enemy
  background: $enemy
  border: 2px solid darken($enemy, 3%)

.weapon
  background: $weapon
  border: 2px solid lighten($weapon, 2%)

.player
  background: $player
  border: 2px double lighten($player, 30%)

.potion
  background: $potion
  border: 2px solid lighten($potion, 3%)

.exit
  background: $exit
  border: 2px solid lighten($exit, 2%)

.boss
  background: $boss
  border: 2px solid lighten($boss, 2%)

.settings
  display: flex
  justify-content: space-between
  width: 50%
  margin: 10px auto

.settings-item
  background: lighten($bg-color, 1%)
  border-radius: 8px
  padding: 2px 10px
  cursor: pointer

  input, label
    cursor: pointer

